aniso8601==6.0.0
click==6.7
Flask==1.0.2
Flask-Cors==3.0.9
Flask-PyMongo==2.2.0
Flask-RESTful==0.3.7
itsdangerous==0.24
Jinja2==2.10.1
prettytable==0.7.1
pymongo==3.8.0
pytz==2019.1
six==1.12.0
Werkzeug==0.14.1
XlsxWriter==1.1.7